<section class="chat">
  <div class="chat-container">
    <!--<div class="chat-list">
      <div class="new prev-chat">
        <h3>
          New chat
        </h3>
        <p>
          Start a new chat
        </p>
      </div>
    </div>
    <div class="chat-view">
      <div id="botcopy-chat-container" />
    </div>-->
    <iframe
      class="chat-view2"
      allow="microphone;"
      src="https://console.dialogflow.com/api-client/demo/embedded/f2827ef4-a0dc-445e-8020-d871019dc09c"
    ></iframe>
  </div>
</section>

<!--<script type="text/javascript"
    id="botcopy-embedder-d7lcfheammjct"
    class="botcopy-embedder-d7lcfheammjct" 
    data-botId="6453d6f558f2d500089a8605"
    data-rootcontainerid="botcopy-chat-container" 
>
  var s = document.createElement('script'); 
  s.type = 'text/javascript'; s.async = true; 
  s.src = 'https://widget.botcopy.com/js/injection.js'; 
  document.getElementById('botcopy-embedder-d7lcfheammjct').appendChild(s);
  
  //Attach new styles when shadow DOM is ready:
  window.addEventListener('load', function() {
    var botStyles = document.createElement('style');
    // add custom styles, dont forget ";"
    botStyles.innerHTML = '.is-v2 .botcopy--avatar-img {height: 40px !important; width: 40px !important;} .is-v2 .botcopy--avatar {padding: 0 !important;} .is-v2.botcopy .botcopy--bot-chat-window {border-radius: 16px !important;';
      
    // make sure everything has loaded, otherwise you'll get an undefined exception
    document.getElementById('botcopy-widget-root').shadowRoot.appendChild(botStyles);
  });
</script>-->