<section class="guide">
  <div class="guide-container">
    <div class="banner">
      <h3>
        GUIDE
      </h3>
    </div>
    <div class="card-container">
      <div class="card-section">
        <div class="card">
          <div class="card2">
            <img
              src="/images/guide_icon.png"
              alt=""
            />
            <p>
              Chat in English with Beatrice, an artificial intelligence
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card2">
            <img
              src="/images/mic.png"
              alt=""
            />
            <p>
              Communicate through text messages or voice notes
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card2">
            <img
              src="/images/speaker.png"
              alt=""
            />
            <p>
              You can listen all her messages
            </p>
          </div>
        </div>
      </div>

      <div class="card-section">
        <div class="card">
          <div class="card2">
            <img
              src="/images/check.png"
              alt=""
            />
            <p>
              Don't be afraid to make mistakes, she will still understand you
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card2">
            <img
              src="/images/translate.png"
              alt=""
            />
            <p>
              Ask her for the translation of words or phrases into English
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card2">
            <img
              src="/images/spanglish.png"
              alt=""
            />
            <p>
              You can also speak in Spanish, but the replies are in English<br>ES: <i>oración</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> widget }}