<section class="home">
  <div class="home-container">
    <div class="text">
      <div class="img-container">
        <img
          src="/images/icon.png"
          alt=""
        />
        <h1>
          Beatrice
        </h1>
      </div>
      <h2>
        Improve your <i>English</i> with me!
      </h2>
      <h4>Practice your <i>English</i>, chatting with our Artificial Intelligence in real time.
        Is like talking to your friends!</h4>
      <a href="/chat">Start here</a>
    </div>
    <div class="image">
      <img
        src="/images/conversation.png"
        alt="chat"
      />
    </div>
  </div>
</section>
{{> widget }}